textarea, .box {
	border:0.5px solid;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    display: inline-block;
	high: 250px;
	background-color: #FFFFFF;
	margin-left:20px;
	}
textarea[name="clé"] {
    padding: 0px 5px;
    height: 40px ;
    -webkit-text-security: disc;
	font-size:35px
}
h1,h5 {
	color: #000000;
	margin-left:20px;

}
.Bouton {
    padding: 10px 20px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    height: 40px;
    position: relative;
    top: -0px; /* Change cette valeur jusqu'à ce que ce soit bien */
}
body {
    background: linear-gradient(135deg, #FFD700, #b39800);
}

.ligne-cle {
    display: flex;
    align-items: center;
    gap: 10px;
}
label.toggle {
    position: relative;
    left: 500px; /* Augmente pour aller plus à droite, diminue pour aller à gauche */
}
.toggle-checkbox {
    display: none;
}
.toggle-switch {
    display: inline-block;
    position: relative;
    width: 57px;
    height: 25px;
    background-color: #FFD700;
    border-radius: 16px;
}
 
.toggle-switch::before {
    content: "";
    background-color: #FFFFFF;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 2px;
    left: 4px;
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: #000000;
}
 
.toggle-checkbox:checked + .toggle-switch::before {
    left: 32px;
}
.image {
    margin-right: 125px;
    display: inline-block;
    height: 209,33px;
    width: 202,66px;
    object-fit: cover;
    overflow: hidden;
}
