<html>
    <head>
	<link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
        <title>Projet2-Cryptographie</title>
        </head>
    <body>
        <h1><u><b>Projet 2 - Cryptographie :</b></u></h1>
		<img src="{{ url_for('static', filename='Logo.png') }}" class="Image" align="right">
		<br></br>
		
		<h5>Entrez votre texte à  crypter :</h5>
		<form method="POST">
		<label><textarea name="phrase"  placeholder='Entrez du texte ici'>{{ancienne_phrase}}</textarea></label>
	
	<h5>Votre mot de passe :</h5>
		
		<div class="ligne-cle">
		<label><textarea name="clé" placeholder='Entrez du texte ici'>{{ancienne_cle}}</textarea></label>
		<button type="submit" class="Bouton">Crypter</button>
		<label class="toggle" >   
    <input class="toggle-checkbox" type="checkbox" onclick="window.location.href='/decrypter'"/>
    <span class="toggle-switch"></span>
</label>
		</form>
		</div>
		<input onclick="changeText()"  type="button" value="Cacher le mot de passe" id="btn" class="Bouton2">
		<p>Appuyez pour décrypter</p>
		<br></br>
		<h5>Votre texte de sortie :	</h5>
		<onput id="res" class="box">{{ resultat }}</onput>
	<script src="{{ url_for('static', filename='Action.js') }}"></script>
    </body>
</html>
