input, .box {
	border:0.5px solid;
    padding: px;
    border-radius: 5px;
    width: 500px;
    display: inline-block;
	background-color: #ffffff;
	}
html {
	background-color:#000000;
}
h1,h5 {
	color: #ffffff;
}
