<!DOCTYPE html>
<html lang="fr">
<head>
<link rel="icon" href="data:image/svg+xml,
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
<text y='0.9em' font-size='90'>🔐</text>
</svg>">


<meta charset="UTF-8">
<title>Chiffre de Vernam</title>
<link rel="stylesheet" href="{{ url_for('static', filename='Mon_style.css') }}">
</head>

<body>

<div class="menu-btn" id="menu-btn">
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="menu" id="menu">
    <button class="close-btn" id="close-btn">X</button>
    <a href="/">Page d'accueil</a>
    <a href="/vigenere">Chiffre de Vigenère</a>
    <a href="#">Chiffre de Vernam</a>
   <a href="/hexa">Hexadécimal</a>
   <a href="/trithemius">Trithémius</a>
   <a href="/cesar">Chiffre de César</a>
   <a href="/rot13">ROT13</a>
   <a href="/historique">Historique</a>
</div>

<div class="logo">
	<a href="/jeu">
        <img src="{{ url_for('static', filename='Logo.png') }}" alt="logo" class="logo-img">
	</a>
</div>

<div id="cursor"></div>
<div id="cursor-ring"></div>

<h1 class="titre">🔐 Chiffre de Vernam</h1>
<!-- CARTE 1 -->
<div class="card">
    <h1>🔐 Cryptage</h1>
    <form method="POST">
        <label>Texte</label>
        <textarea name="Entre_texte" id="inputText" placeholder="Entrez votre message"></textarea>

        <div class="buttons">
            <button type="submit">Crypter</button>
        </div>

        <label>Clé</label>
        <textarea name="Cle" id="output-key" readonly>{{resultat}}</textarea>

        <label>Résultat</label>
        <textarea name="Res" id="output-result" readonly>{{resultat2}}</textarea>
    </form> </div>

<div class="card2">
    <h1>🔓 Décryptage</h1>
    <form method="POST"> <label>Texte</label>
        <textarea name="Entre_texte2" id="inputText2" placeholder="Entrez votre texte à décrypter"></textarea>

        <label>Clé </label>
        <textarea name="Cle2" id="key" placeholder="Entrez la clé"></textarea>

        <div class="buttons">
            <button type="submit">Decrypter</button>
        </div>

        <label>Résultat</label>
        <textarea name="Res2" id="output-result2" readonly>{{resultat3}}</textarea>
    </form>
</div>

<script src="{{ url_for('static', filename='cursor.js') }}"></script>
<script src="{{ url_for('static', filename='Action.js') }}"></script>
</body>
</html>
