<!DOCTYPE html>
<head>
<link rel="icon" href="data:image/svg+xml,
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
<text y='0.9em' font-size='90'>🔐</text>
</svg>">


<meta charset="UTF-8">
<title>Chiffre de Vernam</title>
<link rel="stylesheet" href="Mon_style.css">
</head>

<body>

<div class="menu-btn" id="menu-btn">
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="menu" id="menu">
  <button class="close-btn" id="close-btn">X</button>
  <a href="Page_d'accueil.html">Page d'accueil</a>
  <a href="Index2.html">Cryptage-Décryptage de Vigenère</a>
  <a href="Chiffre_de_Vernam.html">Chiffre de Vernam</a>
  <a href="Hexadecimal.html">Hexadécimal</a>
</div>

<!-- CARTE 1 -->
<div class="card">
    <h1>🔐 Chiffre de Trithémius</h1>

    <form method="POST">
        <label>Texte</label>
        <textarea name="Entre_texte" id="inputText" placeholder="Entrez votre message"></textarea>

        <div class="buttons">
            <button type="submit">Crypter</button>
        </div>

        <label>Résultat</label>
        <textarea name="Res" id="output" readonly>{{resultat2}}</textarea>
    </form>
</div>

<!-- CARTE 2 -->
<div class="card2">
    <h1>🔐 Chiffre de Trithémius</h1>

    <form method="POST">
        <label>Texte</label>
        <textarea name="Entre_texte2" id="inputText" placeholder="Entrez votre texte à  décrypter"></textarea>

        <div class="buttons">
            <button type="submit">Décrypter</button>
        </div>

        <label>Résultat</label>
        <textarea name="Res2" id="output" readonly>{{resultat3}}</textarea>
    </form>
</div>

<script src="Action.js"></script>
</body>
</html>