<!DOCTYPE html>
<html lang="fr">
<link rel="icon" href="data:image/svg+xml,
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
<text y='0.9em' font-size='90'>🔐</text>
</svg>">
<head>
<meta charset="UTF-8">
<title>Accueil - Cryptographie</title>

<link rel="stylesheet" href="{{ url_for('static', filename='Mon_style2.css') }}">
</head>

<body>

<header>

    <div class="logo">
		<a href="/jeu">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="logo-img">
		</a>
    </div>

    <nav>
		<a href="/">Acceuil</a>
		<a href="/desc_vigenere">Vigenère</a>
		<a href="/desc_vernam">Vernam</a>
		<a href="/desc_hexa">Hexadécimal</a>
		<a href="/historique">Historique</a>
    </nav>
</header>


<div class="main">
    <div class="card">
<h1>Hexadécimal</h1>

<p>
	Le cryptage hexadécimal est une méthode de représentation des données
	qui consiste à convertir un message en une suite de valeurs en base 16.
</p>

<p>
	Chaque caractère du texte est transformé en son équivalent numérique,
	puis converti en hexadécimal à l’aide des chiffres de 0 à 9 et des lettres de A à F.
	Cela permet d’obtenir une version codée du message.
</p>

<p>
	Ce procédé est couramment utilisé en informatique pour afficher ou manipuler
	des données binaires de manière plus lisible. Pour décoder le message,
	il suffit de convertir les valeurs hexadécimales en texte original.
</p>

<p>Accéder au cryptage <a href="/hexa">Hexadécimal</a></p>
    </div>
</div>
<footer>
⚠️ Une page cachée est présente dans cette page
</footer>
</body>
</html>