<!DOCTYPE html>
<html lang="fr">
<link rel="icon" href="data:image/svg+xml,
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
<text y='0.9em' font-size='90'>🔐</text>
</svg>">
<head>
<meta charset="UTF-8">
<title>Accueil - Cryptographie</title>

<link rel="stylesheet" href="{{ url_for('static', filename='Mon_style2.css') }}">
</head>

<body>

<header>
    <!-- LOGO (tu remplaces le src) -->
    <div class="logo">
		<a href="/jeu">
        <img src="logo.png" alt="logo" class="logo-img">
		</a>
    </div>

    <!-- MENU (tu modifies les liens) -->
    <nav>
		<a href="/">Acceuil</a>
		<a href="/desc_vigenere">Vigenère</a>
		<a href="/desc_vernam">Vernam</a>
		<a href="/desc_hexa">Hexadécimal</a>
    </nav>
</header>

<!-- CONTENU -->
<div class="main">
    <div class="card">

        <h1>Vigenère</h1>

        <p>
			Le chiffrement de Vigenère est une méthode de cryptographie classique
			qui repose sur l'utilisation d'un mot-clé pour chiffrer un message.
		</p>

		<p>
			Contrairement au chiffrement de César, qui utilise un décalage unique,
			le Vigenère applique plusieurs décalages différents en fonction des
			lettres du mot-clé, rendant le cryptage plus difficile à casser.
		</p>

		<p>
			Chaque lettre du message est associée à une lettre du mot-clé,
			ce qui permet de transformer le texte en une version codée.
			Pour déchiffrer le message, il suffit d'utiliser le même mot-clé.
		</p>
		<p>Accéder au cryptage de <a href="/vigenere">Vigenère</a>
    </div>
</div>
<footer>
⚠️ Une page cachée est présente dans cette page
</footer>
</body>
</html>