* {
    box-sizing: border-box;
}
  

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: url("wallpaper.webp");
    background-size: cover;
    color: #FFD700;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}


.logo {
    font-size: 22px;
    font-weight: bold;
}


nav a {
    font-size: 22px;
    margin-left: 20px;
    text-decoration: none;
    color: #FFD700;
    transition: 0.3s;
}

nav a:hover {
    color: rgb(179, 178, 178);
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}


.card {
    background: #111;
    padding: 40px;
    border-radius: 15px;
    width: 700px;
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.5);
    text-align: center;
}

a{
    color: #f5c518;
}
a:hover{
    color: rgb(179, 178, 178);
}

h1 {
    margin-bottom: 20px;
}


p {
    line-height: 1.6;
    color: #ddd;
}


.logo-img {
    width: 120px;
    margin-bottom: 20px;
}
a:visited {
    color: FFD700;
}
footer {
    position: relative; 
    top: -50px;
    text-align: center;
    color: #FFD700; 
    font-size: 10px;
    text-shadow: 1px 1px 2px rgb(75, 75, 75);
}

* { cursor: none; margin: 0; padding: 0; }

    #cursor {
      position: fixed;
      width: 6px;
      height: 6px;
      background: #f5c518;
      border-radius: 50%;
      pointer-events: none;
      transform: translate(-50%, -50%);
      z-index: 9999;
      transition: transform 0.1s, background 0.2s;
    }

    #cursor-ring {
      position: fixed;
      width: 38px;
      height: 38px;
      border: 3px solid #f5c518;
      border-radius: 50%;
      pointer-events: none;
      transform: translate(-50%, -50%);
      z-index: 9998;
      transition: width 0.25s, height 0.25s, border-color 0.2s, opacity 0.2s;
    }

    #cursor.hovered { transform: translate(-50%, -50%) scale(2.5); }
    #cursor-ring.hovered { width: 58px; height: 58px; border-color: rgba(245,197,24,0.4); }
    #cursor.clicked { transform: translate(-50%, -50%) scale(0.5); }
    #cursor-ring.clicked { width: 22px; height: 22px; }

    .trail {
      position: fixed;
      border-radius: 50%;
      pointer-events: none;
      transform: translate(-50%, -50%);
      z-index: 9997;
      background: #f5c518;
      opacity: 0;
    }

