<!DOCTYPE html>
<head>
<link rel="icon" href="data:image/svg+xml,
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
<text y='0.9em' font-size='90'>🔐</text>
</svg>">

<meta charset="UTF-8">
<title>Cryptage-Décryptage de Vigenère</title>
</head>
<body>
<link rel="stylesheet" href="Mon_style.css">

<div class="menu-btn" id="menu-btn">
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="menu" id="menu">
  <button class="close-btn" id="close-btn">×</button>
  <a href="Index2.html">Cryptage-Décryptage de Vigenère</a>
  <a href="Chiffre_de_Vernam.html">Chiffre de Vernam</a>
</div>

<!-- CARTE -->
<div class="card">
    <h1>🔏 Cryptage de Vigenère</h1>
<form method="POST">
    <label>Texte</label>
    <textarea name="Entre_texte" id="inputText" placeholder="Entrez votre message"></textarea>

    <label>Clé</label>
    <input name="Cle" type="text" id="key" placeholder="Entrez la clé">

    <div class="buttons">
        <button type="submit">Crypter</button>
    </div>

    <label>Résultat</label>
    <textarea name="Res" id="output" readonly>{{resultat}}</textarea>
</form>
</div>
<div class="card2">
<form method="POST">
    <h1>🔏 Décryptage de Vigenère</h1>

    <label>Code</label>
    <textarea name="Entre_texte2" id="inputText" placeholder="Entrez votre code crypté"></textarea>

    <label>Clé</label>
    <input name="Cle2" type="text" id="key" placeholder="Entrez la clé">
	</form>
    <div class="buttons">
        <button type="submit">Décrypter</button>
    </div>

    <label>Résultat</label>
    <textarea name="Res2" id="output" readonly>{{resultat2}}</textarea>
</div>
<script src="Action.js"></script>
</body>
</html>
